div{
  color: red;
}

.firstdiv{
  color: blue;
}

.seconddiv{
  color: purple;
}

#singledout{
  background: black;
  color: white;
  text-decoration: line-through;
}

*{
  color: black;
}

h3 + ul{
  background: blue;
  color: red;
}

li a{
  color: red;
}

li a[href='www.google.com']{
  background: black;
}
