body{
  background-image: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&w=1000&q=80);
}

div{
  background: white;
  border-color: black;
  border-width: 1px;
  border-style: dotted;
  color: yellow;
}

p{
  color: red;
}

span{
  background: black;
  color: white;
}
